@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);

    --font-main: "Inter", sans-serif;


    --fs-body: 14px;


    --radius: 9px;
    --padding: 28px;    
}

body {
    font-family: var(--font-main);
    background-color: var(--gray-900);
    color: var(--white);
    font-size: var(--fs-body);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--padding);

}

.card {
    background-color: var(--gray-800);
    width: 100%;
    max-width: 345px;
    padding: var(--padding);
    border-radius: var(--radius);
    text-align: center;
}


.profile-img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile {
    margin-block: 24px;
}

.name {
    font-size: 22px;
    color: var(--white);
    margin-bottom: 8px;
    font-weight: 700;
}

.address {
    font-size: 14px;
    color: var(--green);
}

.description {
    font-size: 14px;
    color: var(--white);
    opacity: 0.7;
    margin-top: 16px;
}

.social-link li {
    margin-bottom: 10px;
}

.social-link a {
    display: block;
    background-color: var(--gray-700);
    padding: 12px 0;
    border-radius: var(--radius);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.social-link a:hover {
    background-color: var(--green);
    color: var(--gray-900);

}